#menu-vp { margin: 0; padding: 0; overflow: hidden;}
#menu-vp ul { }
#menu-vp ul li {float: left;}
#menu-vp ul li a, .dropbtn { display: inline-block; color: #333; text-align: center; padding: 5px 10px; }
#menu-vp ul li a:hover, .dropdown:hover .dropbtn {background-color: #f1f1f1;}
#menu-vp ul li.dropdown {display: inline-block;}
#menu-vp #menu_web .dropdown .dropdown-content { display: none; position: absolute; background-color: #f9f9f9; min-width: 160px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1;}
#menu-vp #menu_web .dropdown .dropdown-content a { color: black; padding: 5px 10px; display: block; text-align: left;}
#menu-vp #menu_web .dropdown .dropdown-content a:hover {background-color: #f1f1f1;}
#menu-vp #menu_web .dropdown:hover .dropdown-content {display: block;}