#hangTieuDe{background-color:#09f; color:#FFF; font-size:24px;padding:10px;}
#hang2 a{width:150px;padding:10px;background-color:#03F;color:#fff;font-weight:bold;display:inline;margin-right:1px;text-align:center;}
#hang2 a:hover {background-color:red;}